<h2>CRISES</h2>
<div>
  <label for="">crisis name: </label><input type="text" #crisisName>
  <button type="button" (click)="add(crisisName.value); crisisName.value=''">Add</button>
</div>
<ul class="heroes">
  <li *ngFor="let crisis of crises"
    [@crisisState]="crisis.state"
    (click)="onSelect(crisis)"
    [class.selected]="crisis === selectedCrisis">
    <span class="badge">{{ crisis.id }}</span> {{ crisis.name }}
    <button type="button" (click)="delete(crisis)">X</button>
  </li>
</ul>
<!--<div *ngIf="selectedCrisis">
  <h2>
    {{ selectedCrisis.name | uppercase }} is my crisis
  </h2>
  <button type="button" (click)="gotoDetail()">View Details</button>
</div>-->
<router-outlet></router-outlet>