<h2>HEROES</h2>
<div>
  <label for="">crisis name: </label><input type="text" #heroName>
  <button type="button" (click)="add(heroName.value); heroName.value=''">Add</button>
</div>
<ul class="heroes">
  <li *ngFor="let crisis of heroes"
    [@heroState]="crisis.state"
    (click)="onSelect(crisis)"
    [class.selected]="crisis === selectedHero">
    <span class="badge">{{ crisis.id }}</span> {{ crisis.name }}
    <button type="button" (click)="delete(crisis)">X</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{ selectedHero.name | uppercase }} is my crisis
  </h2>
  <button type="button" (click)="gotoDetail()">View Details</button>
</div>
<router-outlet></router-outlet>