<h2>HEROES</h2>
<div>
  <label for="">Hero name: </label><input type="text" #heroName>
  <button type="button" (click)="add(heroName.value); heroName.value=''">Add</button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [@heroState]="hero.state"
    (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero">
    <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    <button type="button" (click)="delete(hero)">X</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{ selectedHero.name | uppercase }} is my hero
  </h2>
  <button type="button" (click)="gotoDetail()">View Details</button>
</div>